:root {
    font-family: system-ui;
}

.container {
    max-width: 480px;
    margin: 3rem auto;
    padding: 1rem;
}

.card {
    padding: 1rem;
    background: #f1f1f1;
    border-radius: .5rem;
    margin: 1rem 0;
}

form {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

button {
    padding: .5rem 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 1rem;
}